            {% extends "Base.twig" %}
            {% block headerImage %}posts-bg{% endblock %}
            {% block nav %}
                {% if user.getPermission() is not null %}
                    {% include 'menu/menuAuth.twig' %}
                {% else %}
                {{parent()}}                    
                {% endif %}
            {% endblock %}
            {% block container %}
            <div class="container px-4 px-lg-5">
                <h1 class="col-md-10 col-lg-8 col-xl-7 special-color">Administration articles</h1>
                <hr>
                 {% for postEntity in listPostsEntity %}
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="{{root}}post/back/{{postEntity.getSlug()}}">
                                <h2 class="post-title break-word">{{postEntity.getTitre()}}</h2>
                                <h3 class="post-subtitle break-word">{{postEntity.getChapo()}}</h3>
                            </a>
                            <p class="post-meta">
                                Posté par
                                {{postEntity.getAuteur()}}
                                {{postEntity.setformattedCreatedAt()}}
                                le {{postEntity.getDate()}} à {{postEntity.getTime()}}
                            </p>
                            <h6>
                                <a href="{{root}}delete/post/{{postEntity.getId()}}/{{user.getToken()}}">
                                        <span class="fa-stack fa-lg " >
                                        <i class="fas fa-trash fa-stack-1x"></i>
                                        </span> 
                                </a>
                                <a href="{{root}}edit/post/{{postEntity.getId()}}">
                                        <span class="fa-stack fa-lg " >
                                        <i class="fas fa-edit fa-stack-1x"></i>
                                        </span> 
                                </a>
                            </h6>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                        <!-- Pager-->
                    </div>
                </div>
                {% endfor %}
                
            </div>
            {% endblock %}