
            {% extends "Base.twig" %}
            {% block headerImage %}posts-bg{% endblock %}
            {% block container %}
           
            <div class="container px-4 px-lg-5">
                 {% for postEntity in listPostsEntity %}
                    {# <li>{{ user.username|e }}</li> #}
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="post/{{postEntity.getSlug()}}">
                                <h2 class="post-title">{{postEntity.getTitre()}}</h2>
                                <h3 class="post-subtitle">{{postEntity.getChapo()}}</h3>
                            </a>
                            <p class="post-meta">
                                Posté par
                                {{postEntity.getAuteur()}}
                                {{postEntity.setformattedCreatedAt()}}
                                le {{postEntity.getDate()}} à {{postEntity.getTime()}}
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                        <!-- Pager-->
                    </div>
                </div>
                {% endfor %}
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                
            </div>
            {% endblock %}