<div class="container px-4 px-lg-5 comments">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <h4 class="post-title">Commentaires</h4>
        {% if user.getPermission is null %}
            <p><a href="{{root}}login">S'identifier</a> ou <a href="{{root}}signUp">s'inscrire</a> pour laisser un commentaire.</p>
        {% else %}
            {% include "comment/formComment.twig" %}
        {% endif %}
        {% if listCommentsPublishedEntity|length <1 %}
            <h6>Il n'y a pas de commentaires pour le moment.</h6>
        {% else %}
            {% for commentEntity in listCommentsPublishedEntity %}
                {% set classComment = 'comment' %}
                {%  if  commentEntity.getIdMembre() == user.getId()    %}
                    {% set classComment = 'my' %}
                {% endif %}
                <div class="col-md-10 col-lg-8 col-xl-7" >
                    <!-- Divider-->
                    <hr class="my-4" />
                    <div class="post-preview {{classComment}}" >
                        <h4 class="post-title">{{commentEntity.getLogin()}}</h4>
                        <p class="post-meta">
                            Posté
                            {{commentEntity.setformattedCreatedAt()}}
                            le {{commentEntity.getDate()}} à {{commentEntity.getTime()}}
                        </p>
                        <hp class="post-subtitle">{{commentEntity.getContenu()}}</hp>
                        {%  if  commentEntity.getIdMembre() == user.getId()    %}
                            <h6>
                                <a href="{{root}}delete/comment/{{commentEntity.getId()}}/{{user.getToken()}}">
                                        <span class="fa-stack fa-lg linkDelete" >
                                        <i class="fas fa-trash fa-stack-1x"></i>
                                        </span> 
                                </a>
                            </h6>
                        {% endif %}
                    </div>
                    {# <!-- Divider-->
                    <hr class="my-4" /> #}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>