<div class="container px-4 px-lg-5 comments">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <h2 class="post-title">Commentaires</h2>
        {% include "formComment.twig" %}
        <h4 class="post-title">Commentaires Publiés</h4>
        {% if listCommentsPublishedEntity|length <1 %}
            <h6>Il n'y a pas de commentaires publiés pour le moment.</h6>
        {% else %}
            {% for commentEntity in listCommentsPublishedEntity %}
                {% set classComment = 'comment' %}
                {%  if  commentEntity.getIdMembre() == user.getId()    %}
                    {% set classComment = 'my' %}
                {% endif %}
                <div class="col-md-10 col-lg-8 col-xl-7" >
                    <!-- Divider-->
                    <hr class="my-4" />
                    <div class="post-preview published {{classComment}}" >
                        <h4 class="post-title">{{commentEntity.getLogin()}}</h4>
                        <p class="post-meta">
                            Posté
                            {{commentEntity.setformattedCreatedAt()}}
                            le {{commentEntity.getDate()}} à {{commentEntity.getTime()}}
                        </p>
                        <hp class="post-subtitle">{{commentEntity.getContenu()}}</hp>
                        
                        <h6>
                            <a href="{{root}}deleteComment/{{commentEntity.getId()}}/{{user.getToken()}}">
                                    <span class="fa-stack fa-lg linkDelete" >
                                    <i class="fas fa-trash fa-stack-1x"></i>
                                    </span> 
                            </a>
                            <a href="{{root}}setPublishedComment/{{commentEntity.getId()}}/0/{{user.getToken()}}">
                                    <span class="fa-stack fa-lg linkDelete" >
                                    <i class="fas fa-ban fa-stack-1x"></i>
                                    </span> 
                            </a>
                        </h6>
                        <div class='clear'></div> 
                    </div>
                    {# <!-- Divider-->
                    <hr class="my-4" /> #}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container px-4 px-lg-5 comments">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <h4 class="post-title">Commentaires en attente de publication</h4>
         {% if listCommentsNotPublishedEntity|length <1 %}
            <h6>Il n'y a pas de commentaires en attente de publication pour le moment.</h6>
        {% else %}
            {% for commentEntity in listCommentsNotPublishedEntity %}
                {% set classComment = 'comment' %}
                {%  if  commentEntity.getIdMembre() == user.getId()    %}
                    {% set classComment = 'my' %}
                {% endif %}
                <div class="col-md-10 col-lg-8 col-xl-7" >
                    <!-- Divider-->
                    <hr class="my-4" />
                    <div class="post-preview notPublished {{classComment}}" >
                        <h4 class="post-title">{{commentEntity.getLogin()}}</h4>
                        <p class="post-meta">
                            Posté
                            {{commentEntity.setformattedCreatedAt()}}
                            le {{commentEntity.getDate()}} à {{commentEntity.getTime()}}
                        </p>
                        <hp class="post-subtitle">{{commentEntity.getContenu()}}</hp>
                        
                        <h6>
                            <a href="{{root}}deleteComment/{{commentEntity.getId()}}/{{user.getToken()}}">
                                    <span class="fa-stack fa-lg linkDelete" >
                                    <i class="fas fa-trash fa-stack-1x"></i>
                                    </span> 
                            </a>
                            <a href="{{root}}setPublishedComment/{{commentEntity.getId()}}/1/{{user.getToken()}}">
                                    <span class="fa-stack fa-lg linkDelete" >
                                    <i class="fas fa-check fa-stack-1x"></i>
                                    </span> 
                            </a>
                        </h6>
                        <div class='clear'></div>

                    </div>
                    {# <!-- Divider-->
                    <hr class="my-4" /> #}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>