
        {% extends "Base.twig" %}
        {% block title %}Article{% endblock %}
        {% block css %}<link href="{{root}}css/comment.css" rel="stylesheet" />{% endblock %}
        {% block header %}
        <header class="masthead" style="background-image: url('{{root}}assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{postEntity.getTitre()}}</h1>
                            <h2 class="subheading">{{postEntity.getChapo()}}</h2>
                            <span class="meta">
                                Posté par
                                {{postEntity.getAuteur()}}
                                {{postEntity.setformattedCreatedAt()}}
                                le {{postEntity.getDate()}} à {{postEntity.getTime()}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        {% block container %}
            <article class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            {# <h2 class="subheading">{{postEntity.getChapo()}}</h2> #}
                            <p>
                                {{postEntity.getContenu()}}
                            </p>
                           <span class="meta">
                                Posté par
                                <a href="#!">{{postEntity.getAuteur()}}</a>
                                {{postEntity.setformattedCreatedAt()}}
                                le {{postEntity.getDate()}} à {{postEntity.getTime()}}
                            </span>
                        </div>
                    </div>
                    <hr>
                </div>
            </article>
           
            <div class="container px-4 px-lg-5 comments">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <h2 class="post-title">Commentaires</h2>
                    {% for commentEntity in listCommentsPublishedEntity %}
                        {% set classComment = 'comment' %}
                        {%  if  commentEntity.getIdMembre() == user.getId()    %}
                            {% set classComment = 'my' %}
                        {% endif %}
                        <div class="col-md-10 col-lg-8 col-xl-7" >
                            <!-- Divider-->
                            <hr class="my-4" />
                            <div class="post-preview {{classComment}}" >
                                <h4 class="post-title">{{commentEntity.getLogin()}}</h4>
                                <p class="post-meta">
                                    Posté
                                    {{commentEntity.setformattedCreatedAt()}}
                                    le {{commentEntity.getDate()}} à {{commentEntity.getTime()}}
                                </p>
                                <hp class="post-subtitle">{{commentEntity.getContenu()}}</hp>
                                {%  if  commentEntity.getIdMembre() == user.getId()    %}
                                     <h6>
                                        <a href="{{root}}deleteComment/{{commentEntity.getId()}}/{{user.getToken()}}">
                                             <span class="fa-stack fa-lg linkDelete" >
                                                <i class="fas fa-trash fa-stack-1x"></i>
                                             </span> 
                                        </a>
                                    </h6>
                                    <div class='clear'></div>
                                {% endif %}
                                
                            </div>
                            {# <!-- Divider-->
                            <hr class="my-4" /> #}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}

