{% extends 'menu/menu.twig' %}   

{% block menuName %}
    Menu pour {{user.getLogin()}}
{% endblock %}
 {% block loginButton %}
    <div class="loginButton disconnectButton">
        <a  href="{{root}}disconnect">Se déconnecter</a>
    </div>
{% endblock %}
{% block articles %}
    {% if user.getType == 'admin' %}
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{root}}formPushPost">créer un article</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{root}}postsBack">Articles</a></li>
    {% else %}
        {{parent()}}
    {% endif %}
{% endblock %}
{% block menuSupplement %}
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{root}}formEditPassword">Mot de passe</a></li>
{% endblock %}
                